html, body{
    margin: 0;
    height: 150%;
}
body{
    background-color:#3273dc
}
h1{
    text-shadow: 2px 2px 5px rgba(0,0,0,0.29);
}
textarea {
    resize: none;
    outline: 1px solid #505050;
  }
  input{
    outline: 1px solid #505050;
  }
  button{
    outline: 1px solid #505050;
  }
  .box{
    outline: 1px solid #505050;
  }